<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kindergarten.mapper.MenuMapper">

    <select id="findMenuList" resultMap="menuList" parameterType="java.lang.String">
        /*parameterType输入参数，resultType是输出结果*/
 select m1.menu_name,m2.menu_url as m2_url,m2.menu_name as m2_name from tbl_menu m1
 inner join tbl_menu m2 on m1.menu_id =m2.parent_id inner join tbl_role_menu rm on m2.menu_id =rm.mid
 inner join tbl_admin a on rm.rid=a.role_id where a.admin_tel=#{adminTel};
    </select>
    <resultMap id="menuList" type="com.kindergarten.bean.Menu">
        <result property="menuName" column="menu_name"></result>
        <collection property="menus" ofType="com.kindergarten.bean.Menu">
            <result property="menuName" column="m2_name"></result>
            <result property="menuUrl" column="m2_url"></result>
        </collection>
    </resultMap>
    <select id="selectOneMenu" resultType="com.kindergarten.bean.Menu">
        select * from tbl_menu where parent_id=0;
    </select>
    <select id="selectMenuList" parameterType="java.util.HashMap" resultType="com.kindergarten.bean.Menu">
        select m2.*, m1.menu_name as parentName from tbl_menu m1  right join  tbl_menu m2 on m1.menu_id =m2.parent_id
        <where>
            <if test="condition.menuName!=null and condition.menuName !=''">
                and m2.menu_name like concat('%',#{condition.menuName},'%')
            </if>
            <if test="condition.parentId!=null and condition.parentId !=''">
                and m1.menu_id =#{condition.parentId} or  m2.menu_id =#{condition.parentId}
            </if>
        </where>
        order by order_id limit ${(curPage-1)*pageSize},${pageSize}
    </select>
    <select id="selectMenuListCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from tbl_menu
        <where>
            <if test="condition.menuName!=null and condition.menuName !=''">
                and menu_name like concat('%',#{condition.menuName},'%')
            </if>
            <if test="condition.parentId!=null and condition.parentId !=''">
                and menu_id =#{condition.parentId}
            </if>
        </where>
    </select>
    <delete id="deleteMenu" parameterType="java.lang.Integer">
        delete from tbl_menu where menu_id=#{menuId} or parent_id=#{menuId}
    </delete>
    <update id="updateMenu" parameterType="java.util.HashMap">
        update tbl_menu set
        <if test="condition.menuUrl!=null and condition.menuUrl !=''">
            menu_url=#{condition.menuUrl},
        </if>
        <if test="condition.menuName!=null and condition.menuName !=''">
            menu_name=#{condition.menuName},
        </if>
        <if test="condition.parentId!=null and condition.parentId !=''">
            parent_id=#{condition.parentId},
        </if>
        <if test="condition.orderId!=null and condition.orderId !=''">
            order_id=#{condition.orderId}
        </if>
       where menu_id=#{condition.menuId}
    </update>
    <insert id="insertMenu" parameterType="com.kindergarten.bean.Menu">
        insert into tbl_menu(menu_name, menu_url, parent_id, order_id) VALUES (#{menuName},#{menuUrl},#{parentId},#{orderId})
    </insert>
    <select id="selectParentMenu" parameterType="java.lang.Integer" resultType="com.kindergarten.bean.MenuDemo">
        select distinct m.menu_id as region_id, m.menu_name as region_name, m.parent_id as region_pid from (select a.parent_id from tbl_menu a,tbl_role_menu b where b.mid= a.menu_id  and b.rid=#{rid})t,tbl_menu m where t.parent_id=m.menu_id;
    </select>
    <select id="selectChileMenu" parameterType="java.lang.Integer" resultType="com.kindergarten.bean.MenuDemo">
        select menu_id as region_id,menu_name as region_name,parent_id as region_pid from tbl_menu where parent_id=#{parentId};
    </select>
    <select id="selectRole" resultType="com.kindergarten.bean.Role">
        select * from tbl_role;
    </select>
    <select id="noMenuByrid" resultType="com.kindergarten.bean.MenuDemo" parameterType="java.lang.Integer">
       select distinct  m.menu_id as region_id, m.menu_name as region_name, m.parent_id as region_pid from tbl_menu m inner join (select parent_id  from tbl_menu  where menu_id not in (select mid from tbl_role_menu where rid=#{rid}))t on m.parent_id=t.parent_id and m.parent_id=0;
    </select>
    <select id="selectAllMenu" resultType="com.kindergarten.bean.MenuDemo">
      select distinct  m.menu_id as region_id, m.menu_name as region_name, m.parent_id as region_pid from tbl_menu m where parent_id=0;
    </select>
    <insert id="insertMenuByrole" parameterType="java.util.List">
        insert into tbl_role_menu (rid, mid) VALUES
        <foreach collection="list" index="index" separator="," item="item">
            (#{item.orderId},#{item.menuId})
        </foreach>
    </insert>
    <select id="selectMid" resultType="java.lang.String" parameterType="java.lang.Integer">
        select mid from tbl_role_menu where rid=#{rid};
    </select>
    <delete id="deleteMenuById" parameterType="java.util.List" >
        delete from tbl_role_menu where rid=#{rid} and mid in
        <foreach collection="list" open="(" close=")" item="item" separator="," >
            #{item}
        </foreach>
    </delete>
</mapper>
